.headingStack {
  position: relative;
  margin: 0;
  padding: 25px 50px 100px 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.titleHeading {
  font-size: 6em;
}

.headingSvg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.lineHeadingSvg {
  stroke: var(--joy-palette-primary-500);
  stroke-width: 6px;
  fill: transparent;
}

.stationCircleHeadingSvg {
  stroke: var(--joy-palette-primary-500);
  stroke-width: 3px;
  fill: white;
}

.stationTextHeadingSvg {
  fill: var(--joy-palette-text-primary);
  font-family: var(--joy-fontFamily-body);
  font-size: 14px;
}

.trainSvg {
  position: absolute;
  right: 200px;
  top: 415px;
  height: 40px;
}

.lineLeftStack {
  margin: 0;
  position: relative;
  height: 100vh;
}

.introSection {
  position: relative;
  background-image: linear-gradient(0deg,
    transparent 0%,
    transparent calc(30% - 5.1px),
    var(--joy-palette-primary-500) calc(30% - 5px),
    var(--joy-palette-primary-500) calc(30% + 5px),
    transparent calc(30% + 5.1px),
    transparent 100%
  );
}

.footerSection {
  position: relative;
  background-image: linear-gradient(0deg,
    transparent 0%,
    transparent calc(50% - 5.1px),
    var(--joy-palette-primary-500) calc(50% - 5px),
    var(--joy-palette-primary-500) calc(50% + 5px),
    transparent calc(50% + 5.1px),
    transparent 100%
  );
}

.lineLeftStack::before {
  content: '';
  position: absolute;
  left: -50px;
  top: 0;
  display: block;
  width: 10px;
  background-color: var(--joy-palette-primary-500);
  height: 100%;
}

.introSection::before {
  content: '';
  position: absolute;
  left: -50px;
  bottom: 0;
  display: block;
  width: 10px;
  background-color: var(--joy-palette-primary-500);
  height: calc(30% - 43px);
}

.introSection::after {
  content: '';
  position: absolute;
  left: -27px;
  bottom: calc(30% - 58px);
  display: block;
  width: 9.5px;
  background-color: var(--joy-palette-primary-500);
  height: 70px;
  transform: rotate(45deg);
}

.introSectionContainer { 
  height: 100%;
  padding: 65px 0;
  box-sizing: border-box; 
  position: relative;
  overflow: hidden;
}

.footerSection::before {
  content: '';
  position: absolute;
  left: -50px;
  top: 0;
  display: block;
  width: 10px;
  background-color: var(--joy-palette-primary-500);
  height: calc(50% - 43px);
}

.footerSection::after {
  content: '';
  position: absolute;
  left: -27px;
  top: calc(50% - 58px);
  display: block;
  width: 9.5px;
  background-color: var(--joy-palette-primary-500);
  height: 70px;
  transform: rotate(-45deg);
}

.heading {
  position: relative; 
  color: var(--joy-palette-primary-500);
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 20px;
  background: linear-gradient(var(--joy-palette-primary-500) 0 0) calc(100% - var(--pad, 0%)) / var(--pad, 0%) no-repeat;
  transition: 0.5s, background-position 0s;
  background-repeat: no-repeat;
}

.headingActive {
  color: white;
  --pad: 100%;
 }

.heading::before {
  content: '';
  position: absolute;
  left: -70px;
  top: 0px;
  display: block;
  height: 20px;
  width: 20px;
  background-color: var(--joy-palette-primary-50);
  border: 15px solid var(--joy-palette-primary-500);
  border-radius: 50%;
}

.headingIntroSection::before {
  content: '';
  position: absolute;
  left: -75px;
  top: 50px;
  display: block;
  height: 30px;
  width: 30px;
  background-color: var(--joy-palette-primary-50);
  border: 15px solid var(--joy-palette-primary-500);
  border-radius: 50%;
}

.teamTileGridTop {
  display: "flex";
  justify-content: center;
  align-items: end;
  padding: 0;
}
.teamTileGridTBottom {
  display: "flex";
  justify-content: center;
  align-items: start;
  padding: 0;
}

.teamTileTop {
  position: relative;
  margin-bottom: 60px;
}
.teamTileBottom {
  position: relative;
  margin-top: 60px;
}

.teamTileTop::before {
  content: '';
  display: block;
  position: absolute;
  bottom: -60px;
  left: calc(50% - 5px);
  height: 60px;
  width: 10px;
  background-color: var(--joy-palette-primary-500);
}

.teamTileBottom::before {
  content: '';
  display: block;
  position: absolute;
  top: -60px;
  left: calc(50% - 5px);
  height: 60px;
  width: 10px;
  background-color: var(--joy-palette-primary-500);
}

.teamSection {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  align-content: center;
}

.snappingContainer {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 90vh;
}

.snappingSection {
  scroll-snap-align: start;
  height: 90vh;
  min-height: 90vh;
}

.snappingSectionKeyFinding {
  scroll-snap-align: start;
}

.scrollableContainer {
  height: 90vh; /* Set a fixed height for the container */
  overflow-y: scroll; /* Enable vertical scrolling */
}

.tooltip {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
} 

.introTrainImage {
  position: absolute;
  cursor: pointer;
  top: calc(70% - 52.5px);
  left: 60%;
  transform: translateX(-40%);
  height: 50px;
}

.introStationDot {
  position: absolute;
  right: -30px;
  top: calc(70% - 30px);
  display: block;
  height: 30px;
  width: 30px;
  background-color: var(--joy-palette-primary-50);
  border: 15px solid var(--joy-palette-primary-500);
  border-radius: 50%;
  z-index: 3;
}

.tunnelHelper {
  position: absolute;
  right: -62.5px;
  top: calc(70% - 80px);
  display: block;
  height: 85px;
  width: 65px;
  background-color: #F3F3F3;
  z-index: 2;
}
.tunnelHelper2 {
  position: absolute;
  right: -48px;
  top: calc(70% - 70px);
  display: block;
  height: 150px;
  width: 35px;
  background-color: #F3F3F3;
  z-index: 2;
}

.tunnel {
  position: absolute;
  right: 1.5px;
  top: calc(70% - 85px);
  display: block;
  height: 80px;
  z-index: 3;
}

.footerStationDot {
  position: absolute;
  right: -30px;
  top: calc(50% - 30px);
  display: block;
  height: 30px;
  width: 30px;
  background-color: var(--joy-palette-primary-50);
  border: 15px solid var(--joy-palette-primary-500);
  border-radius: 50%;
}

@media screen and (min-width: 1500px) {
  .introTrainImage {
    position: absolute;
    cursor: pointer;
    top: calc(70% - 75px);
    left: 47.5%;
    transform: translateX(-52.5%);
    height: 75px;
  }
}