.toolPanel {
    position: fixed;
    top: 180px;
    left: -80px;
    max-width: 30px;
    min-height: 570px;
    background: #ffffff; /* Your preferred background */
    transition: transform 0.6s;
    transition-duration: 0.5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    padding: 1em;
    z-index: 1001;
    border-radius: 10px;
    border: #CFD7E0 1px solid;
  }

  

  .open {
    transform: translateX(100px);
  }

  
  /* Button to toggle the panel */
  .button {
  }
  